PRODUCTION=0
PRODUCTION_HOST=<yourapp.com>

TELEGRAM_BOT_TOKEN=<>

DEV_TUNNEL_SUBDOMAIN=<yourapp>
DEV_TUNNEL_POSTFIX=<.loca.lt|.serveo.net|self-hosted-solution>
DEV_TUNNEL_SALT=<>

DJANGO_SECRET_KEY=<>

POSTGRES_DB=database
POSTGRES_USER=user
POSTGRES_PASSWORD=123
POSTGRES_HOST=database
POSTGRES_PORT=5432
