@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes scaleUp {
  0% { transform: scale(0.7); }
  100% { transform: scale(1); }
}

@keyframes horizontalShaking {
 0% { transform: translateX(0) }
 25% { transform: translateX(0.15rem) }
 50% { transform: translateX(-0.15rem) }
 75% { transform: translateX(0.15rem) }
 100% { transform: translateX(0) }
}

.table {
  width: 100%;

  .tableBody {
    height: calc(100vh - 4rem);
    overflow: scroll;
  }

  .tableBodyFadeIn {
    animation: fadeIn 600ms;
    animation-timing-function: ease-in-out;
  }

  .tableBodyShaking {
    animation: horizontalShaking 300ms;
    animation-timing-function: ease-in-out;
  }
}

.eventFormContainer {
  position: absolute;
  bottom: 0;
}

.cell {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.cellEvent {
  width: 100%;
  position: absolute;
  box-shadow:
    inset rgba(0,0,0,.15) 0 -1px 1px,
    inset rgba(252,255,255,.3) 0 1px 2px;
  border-right: 0.5px solid var(--tg-theme-secondary-bg-color);
  border-left: 0.5px solid var(--tg-theme-secondary-bg-color);
  box-sizing: border-box;
  //background-color: #5ac8fb;
  opacity: 1;
  border-radius: 0.3rem;
  animation-timing-function: ease-in-out;
  background: #63c4f8;
  background: linear-gradient(180deg, #63c4f8 0%, #2d9ae7 100%);
  //#8ed1e5
  //#2d9ae7
}

.cellEventFadeIn {
  animation: fadeIn 300ms;
}

.cellEventBusy {
  animation: scaleUp 400ms;
}

.cellEventSelected {
  background: #9bdd7c;
  background: linear-gradient(180deg, #9bdd7c 0%, #33CC00 100%);
}

.row {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 4rem repeat(7, 1fr);
  height: 8.33%;
}

.row + .row {
  border-top: 1px dashed rgba(180, 201, 210, 0.5);
}

.rowHeader {
  height: 4rem;
}
