.event {
  padding: 1.5rem;
  background-color: var(--tg-theme-bg-color);

  .eventHeader {
    font-weight: bold;
    font-size: 1.3rem;
    margin-bottom: 0.3rem;
  }
}

.formContainer {
  margin-top: 1rem;
  background-color: var(--tg-theme-bg-color);
}
