.event {
  padding: 1.5rem;
  background-color: var(--tg-theme-bg-color);
}

.header {
  font-weight: bold;
  font-size: 1.3rem;
  margin-bottom: 0.3rem;
}

.field {
  margin-top: 1rem;
  background-color: var(--tg-theme-bg-color);
}

.formInput {
  padding: 0.6rem 1.5rem;

  input {
    background-color: inherit;
    color: inherit;
    padding: 0;
    font-size: 1.2rem;
    border: none;
    outline: none;
    box-shadow: none;
    width: 100%;
  }
}
