.formInput {
  padding: 0.6rem 1.5rem;

  input {
    background-color: inherit;
    color: inherit;
    padding: 0;
    font-size: 1.2rem;
    border: none;
    outline: none;
    box-shadow: none;
    width: 100%;
  }
}
